<config>
    <setting key="out" value="out" />
    <setting key="db.url" value="jdbc:postgresql://localhost:5432/" />
    <setting key="db.name" value="test11" />
    <setting key="db.user" value="postgres" />
    <setting key="db.pwd" value="Bandit777rus" />
    <setting key="db.driver" value="jar:file:D://PostgreSQL/postgresql-42.0.0.jar!/" />
    <setting key="db.driver.name" value="org.postgresql.Driver" />
    <setting key="db.folder" value="pg" />
    <setting key="db.separator.default" value="--SEP--" />
    <setting key="db.separator" value="" />
    <setting key="author" value="Anonymous" />
    <setting key="help" value="
========= Task manager console 0.0.1 =========#NEW_LINE#
todo: Написать хелп#NEW_LINE#
==============================================" />
    <setting key="dbCommandsHelp" value="Available database commands:#NEW_LINE#
o:init - drop and create database and 'ver' schema #NEW_LINE#
o:push - create sql versions on remote database #NEW_LINE#
o:status - get status of sql versions #NEW_LINE#
o:delete - delete sql version" />
</config>